appnope==0.1.0
cffi==1.1.2
cryptography==1.0.1
cssselect==0.9.1
decorator==4.0.2
enum34==1.0.4
gnureadline==6.3.3
idna==2.0
ipaddress==1.0.14
ipython==4.0.0
ipython-genutils==0.1.0
lxml==3.4.4
path.py==8.1
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
pyasn1==0.1.8
pycparser==2.14
pyOpenSSL==0.15.1
queuelib==1.2.2
Scrapy==1.0.2
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
Twisted==15.3.0
w3lib==1.12.0
wheel==0.24.0
zope.interface==4.1.2
